.container{
    background-color: blanchedalmond;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

    

}

.gridchild{
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;

}

#container{
    display: grid;
    grid-gap: 5px;

    grid-template-areas:"header header header"
                        "sidebar main main"
                        "footer1 footer1 footer2";

}
#container>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    grid-area: header;
    background-color: blue;
    height: 70px;
}

.sidebar{
    grid-area: sidebar;
    background-color: #458723;
    height: 150px;
}

.main{
    grid-area: main;
    background-color: blueviolet;
    height: 150px;
}

.footer1{
    grid-area: footer1;
    background-color: red;
    height: 50px;
}

.footer2{
    grid-area: footer2;
    background-color: indigo;
    height: 50px;
}
